<div class="card">
    <div class="card-body">
        <h5 class="card-title">DATOS PERSONALES</h5>
    </div>
    <div class="card-text mx-3">
        <p><b>Apellido y Nombres:</b> {{miPersona.apellido}} {{miPersona.nombres}}</p>
        <p><b>Telefono:</b> {{miPersona.telefono.tipo}}: {{miPersona.telefono.numero}}</p>
        <p><b>Direccion:</b> {{miPersona.domicilio.calle}} - {{miPersona.domicilio.numero}} - {{miPersona.domicilio.ciudad}} - {{miPersona.domicilio.pais}}</p>
        <p><b>Correo Electrinico:</b> {{miPersona.email}}</p>
    </div>
</div>
