<div class="container-fluid">
    <div class="row">
        <span class="col-xs-12 col-sm-2 col-md-2 col-lg-3 img-thumbnail m-2 bg-white" id="logosarg">
            <img src="/assets/img/Logo_ArgProg_2.png" width="100">
            <img src="/assets/img/Logo_Inti.jpg" width="50">
            <img src="/assets/img/Logo_Ministerio.jpg" width="100">
        </span>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-5 text-center mt-10">
            <!--<h1><a  routerLink="asercade">Profile Box v 1.0</a></h1> -->
            <h1 class="text-primary">Profile Box v 1.0</h1>
        </div>
        <span class="col-xs-12 col-sm-2 col-md-2 col-lg-3 img-thumbnail " id="logosred">
            <a href="https://www.facebook.com/"><img src="../assets/img/facebook.png" id="facebook" width="50"></a>
            <a href="https://github.com/JuanCaRolon"><img src="../assets/img/github.png" id="github" width="50"></a>
            <a href=""><img src="../assets/img/instagram.png" id="instagram" width="50"></a>
            <a href="https://www.linkedin.com/feed/"><img src="../assets/img/linkedin.png" id="linkedin" width="50"></a>
            <a href=""><img src="../assets/img/twitter.png" id="twitter" width="50"></a>
        </span>
    </div>
</div>
<div class="container-fluid">
    <img class="img-fluid" src="/assets/img/Banner_time_1.jpg" width="100%" style="position:absolute; z-index:-1">
</div>
