<div class="card">
    <h1 class="card-header">Profile Box version 1.0</h1>
    <div class="card-body">
        <h3 class="card-title">Sistema para almacenamiento y visualización de curriculums vitae</h3>
        <p class="card-text">Trabajo correspondiente al PROYECTO INTEGRADOR PORTFOLIO WEB FULL STACK del curso de   Argentina Programa #YoProgramo</p>
        <p>Programador: Juan Carlos Rolón </p>
        <div class="card-footer text-muted">
            Julio - 2022
            Corrientes - Argentina
            Todos los derechos reservados (c) - 2022.
        </div>
        <button class="btn btn-primary btm-sm" type="submit">Cerrar</button>
        <!--<a href="#" class="btn btn-primary">Cerrar</a> -->
    </div>
</div>